.poster{
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}
.poster li{
    line-height: 1.75rem;
}
.poster li:first-of-type{
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}

.avatar{
    border-radius: 50%;
    border: 2px solid var(--color-1000);
    width: 48px !important;
    height: 48px !important;
}
.logo{
    font-size: clamp(3rem, 14vw, 8.5rem);
    line-height: clamp(3rem, 14vw, 8rem);
    font-weight: 900;
    text-wrap: nowrap;
    color: var(--color-100);
}
.logoSub {
    position: relative;
    display: inline-block;
    color: var(--color-800);
    transition: all 0.3s ease;
}

.logoSub:hover {
    color: transparent;
    background-image: linear-gradient(
        to left,
        rgba(255, 0, 0, 1),
        rgba(255, 165, 0, 1),
        rgba(255, 255, 0, 1),
        rgba(0, 255, 0, 1),
        rgba(0, 255, 255, 1),
        rgba(0, 0, 255, 1),
        rgba(255, 0, 255, 1),
        rgba(255, 0, 0, 1)
    );
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200% 100%;
    animation: rainbow-text 5s linear infinite;
}

.cta{
    background:var(--color-500);
    color:var(--color-1000);
    padding: 0.75rem 1.25rem;
    border-radius: 1.5rem ;
}
.cta:hover{
    background:var(--color-200);
    color:var(--color-1000);
}

@keyframes rainbow-text {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}
