.poster{
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}
.poster li:first-of-type{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.avatar{
    border-radius: 50%;
    border: 2px solid var(--color-1000);
    width: 48px !important;
    height: 48px !important;
}
.logo{
    font-size: clamp(3rem, 14vw, 8.5rem);
    line-height: clamp(3rem, 14vw, 8rem);
    font-weight: 900;
    text-wrap: nowrap;
    color: var(--color-100);
}
.logo:hover {
    color: var(--color-500);
}
.logoSub{
    display: inline;
    color: var(--color-900);
}

.cta{
    background:var(--color-500);
    color:var(--color-1000);
    padding: 0.75rem 1.25rem;
    border-radius: 1.5rem ;
}
.cta:hover{
    background:var(--color-200);
    color:var(--color-1000);
}
@media (max-width: 600px) {
    .poster li:nth-of-type(2){
        display: none;
    }
}
