.poster{
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}
.poster div{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    line-height: 1.75rem;
}
.poster div div{
    display: flex;
    flex-direction: column;
    gap: 0rem;
    justify-content:space-around;
}
.avatar{
    border-radius: 50%;
    border: 2px solid var(--color-1000);
    width: 48px !important;
    height: 48px !important;
}
.logo{
    font-size: clamp(3rem, 13.75vw, 9.25rem);
    line-height: clamp(3rem, 13.75vw, 9rem);
    font-weight: 900;
    text-wrap: nowrap;
    color: var(--color-100);
}
.logoSub {
    position: relative;
    display: inline-block;
    color: var(--color-800);
    transition: all 0.3s ease;
}
.cta{
    display: block;
    background:var(--color-505);
    color:var(--color-1000);
    padding: 0.75rem 1.25rem;
    border-radius: 1.5rem;
}
.cta:hover{
    background:var(--color-100);
    color:var(--color-1000);
}