.cover{
    position: relative;
    align-self: center;
    width: 150% !important;
}

.context{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.context div:first-of-type{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.context p{
    color: var(--color-200);
}

@media (max-width: 1400px) {
	.cover{
		width: 100% !important;
	}
}
