.card{
	position: relative;
	background: var(--color-980);
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: var(--base);
	overflow: hidden;
	transition: all 0.2s ease-in-out;
}

.img {
    object-fit: contain;
	transform: scale(0.85);
	transition: transform 0.3s ease-in-out;
}

.card img:hover {
	transform: scale(0.87) rotate(-0.5deg);
    transform-origin: center;
}

.content{
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
}
.content h3{
	color: var(--color-00);
}
.content p:last-child{
	margin-bottom: 0;
}
