:root{
	--base: 0.5rem;
	--color-1000: oklch(100% 0 200);
	--color-980: oklch(98% 0 200);
	--color-900: oklch(90% 0 200);
	--color-800: oklch(80% 0 200);
	--color-700: oklch(60% 2 78 );
	--color-505: oklch(50% 0.5 200);
	--color-500: oklch(50% 0 200);
	--color-100: oklch(10% 0 200);
	--color-50: oklch(5% 0 200);
	--color-00: oklch(0% 0 200);
}

html{
	--scroll-behavior: smooth!important;
	scroll-behavior: smooth!important;
	font-size: 14px;
}

@media (max-width: 768px) {
	html {
		font-size: 12px;
	}
}

*{
	box-sizing: border-box;
	font-family: var(--font-inter), sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
}
body{
	background: var(--color-1000);
	color: var(--color-00);
}
article{
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
section{
	display: flex;
	flex-direction: column;
	max-width: 64rem;
	margin: 0 auto;
	padding: 2rem;
	width: 100%;
	align-items: flex-start;
	gap: 1rem;
}
::-webkit-scrollbar {
	display: none;
}

h1{
	font-size: 2rem;
	font-weight: 700;
	line-height: 2.5rem;
}
h2{
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 2.5rem;
}
h3{
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 2.5rem;
}
h4{
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 2rem;
}
p{	
	font-size: 1.25rem;
	line-height: 2.5rem;
	font-weight: 400;
	color: var(--color-500);
}
ul,ol{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-size: 1.25rem;
	line-height: 2.5rem;
	font-weight: 400;
	list-style-position: outside;
	padding-left: 3rem;
}
ul{
	list-style-type: disc;
}
ol{
	list-style-type: decimal;
}
li{
	font-weight: 500;
	margin:0;
	padding:0;
}
::marker	{
	font-size: 1.25rem;
	color: var(--color-00);
}
a{
	color: var(--color-505);
	font-size: 1.25rem;
	font-weight: 600;
	text-decoration: none;
}
a:hover{
	transition: 300ms;
	color: var(--color-100);
}
span{
	display: block;
	font-size: 1.25rem;
	font-weight: 500;
}
input{
	border: none;
}
video,img,iframe{
	width: 100%;
	border-radius: 2px;
	position: relative !important;
}
hr{
	border: 1px solid var(--color-800);
}

figure{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	padding: 1rem 0;
	width: 100%;
}

figcaption{
	font-size: 1rem;
	line-height: 2.5rem;
	font-weight: 400;
	color: var(--color-500);
}

button{
	font-size: 1.25rem;
	font-weight: 600;
	background: var(--color-505);
	color: var(--color-1000);
	padding: 0.75rem 1.25rem;
	border-radius: 2rem;
	border: 2px solid var(--color-505);
}
button:hover{
	transition: 300ms;
	background: var(--color-100);
	color: var(--color-1000);
}