*{box-sizing: border-box;}

body{
	font-family: 'Cairo', sans-serif;
	font-size:1.2rem;
	line-height:2.4rem;
	color:rgba(80,80,100,1);
}

h1,h2{
	color:rgba(60,60,80,1);
	clear:both;
}

ul{
	padding-left: 0;
	list-style-position: inside;
}

a{
	color:inherit;
}

a:hover{
	text-decoration:none;
}

body{
	width:auto;
	margin:1em;
}

header,section,footer{
	display:inline-block;
	width:100%;
}

.center, .left, .right, .cover{
	display: inline-block;
	width:110%;
	margin:15px 0 10px 0;
	margin-left:-5%;
	margin-right:0;
}

.tiny{
	height: 1.8em;
	margin: -0.6em 0.6em -0.6em 0;
}

@media print, screen and (min-width: 720px) {

	body{
		width:720px;
		margin:1em auto;
	}

	.center{
		width:300px;
		margin:10px 15px;
	}

	.right{
		width:300px;
		margin:10px 15px;
		margin-right:-120px;
		float:right;
		clear:right;
	}
	.left{
		width:300px;
		margin:10px 15px;
		margin-left:-120px;
		float:left;
		clear:left;
	}
	.cover{
		width:960px;
		margin-left:-120px;
		margin-right:-120px;
	}

}