*{
	box-sizing: border-box; 
	font-family: 'Montserrat', sans-serif;
}
body{
	background:#f6f9fc;
	padding:0;
	margin:0;
}
::-webkit-scrollbar {
	display: none;
}

p{	
	color:rgba(60, 60, 60, 1);
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;
	margin: 12px 0;
}
h1{
	font-size: 30px;
	font-weight: 800;
	line-height: 60px;
	margin: 12px 0;
}
h2{
	font-size: 24px;
	font-weight: 700;
	line-height: 48px;
	margin: 12px 0;
}
h3{
	font-size: 18px;
	font-weight: 600;
	line-height: 36px;
	margin: 12px 0;
}
h4,
h5,
h6{
	font-size: 18px;
	font-weight: 500;
	line-height: 36px;
	margin: 12px 0;
}
ul{
	margin: 12px 0;
	padding: 0;
	list-style-type: decimal;
	list-style-position: inside;
	color:rgba(60, 60, 60, 1)
}
li{
	font-size: 18px;
	line-height: 36px;
}
a{
	color:rgba(0,0,0,1);
}
span{
	font-weight: 400;
	padding: 6px;
}
img{
	display: block;
	width: 100%;
	border-radius: 2px;
}

input{
	width: 100%;
	height: 24px;
	border: none;
	border-radius:60px;
}
button{
	display: inline-block;
	color: rgba(255,255,255,1);
	background: rgba(52,156,255,1);
	padding: 6px 12px;
	border: none;
	border-radius: 36px;
	margin: 0 0.4px;
	transition: 0.3s;
}

.app{
	max-width: 840px;
	padding: 12px;
	margin: 0 auto;
}