.cards{
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.card{
	position: relative;
	background: var(--surface-2);
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: var(--radius);
	overflow: hidden;
}

.thumbnail{
	object-fit: contain;
	transition: all .2s ease-in-out; 
	transform: scale(.84);
}
.card:hover .thumbnail{
	transform: scale(.86);
	transform-origin: center;
}

.cardContent{
	display: flex;
	flex-direction: column;
	padding: 1rem 1.5rem;
	color: var(--neutral);
}
