@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
	box-sizing: border-box;
	font-family: 'Space Mono', monospace;
	margin: 0;
	padding: 0;
}
body{
	background:rgba(248,248,248,1);
	color: rgba(60, 60, 60, 1);
	padding: 24px 12px;
}
header,article,section,footer{
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 600px;
	margin: 0 auto;
	padding: 24px 12px;
	position: relative;
}
::-webkit-scrollbar {
	display: none;
}
h1{
	font-size: 32px;
	line-height: 32px;
}
h2{
	font-size: 24px;
	line-height: 32px;
}
h3{
	font-size: 20px;
	line-height: 32px;
}
p{	
	font-size: 20px;
	line-height: 32px;
}
ul,ol{
	font-size: 20px;
	line-height: 32px;
	padding: 0;
	margin: 0;
	list-style-position: inside;
}
ul{
	list-style-type: disclosure-closed;
}
ol{
	list-style-type: decimal-leading-zero;
}
li::marker{
	font-weight: bold;
}
a{
	color:rgba(0,60,252,0.8);
	text-decoration: none;
	transition: 0.3s;
}
a:hover{
	color:rgba(0,60,252,1);
}
a:visited{
	color:rgba(0,60,252,.5);
}
span{
	font-weight: 400;
	padding: 6px;
}
video,img{
	display: block;
	width: 100%;
}
input{
	border: none;
}