@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
	--surface-1: rgba(255,255,255,1);
	--surface-2: rgba(247,248,249,1);
	--edge:rgba(237,238,239,1);
	--neutral: rgba(0,0,0,0.9);
	--neutral-2: rgba(0,0,0,0.7);
	--important: rgba(0,0,160,1);
	--radius: 1rem;
}

html{
	--scroll-behavior: smooth!important;
	scroll-behavior: smooth!important;
}

*{
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
}
body{
	background: var(--surface-1);
	color: var(--neutral);
	padding: 2rem 0 6rem 0;
}
header,section,footer{
	display: flex;
	flex-direction: column;
	max-width: 52rem;
	margin: 0 auto;
	padding: 1.5rem 1rem;
	width: 100%;
	align-items: flex-start;
	gap: 0.5rem;
}
::-webkit-scrollbar {
	display: none;
}

h1{
	font-size: 2rem;
	line-height: 3rem;
}
h2{
	font-size: 1.5rem;
	line-height: 2.5rem;
}
h3{
	font-size: 1.5rem;
	line-height: 2.5rem;
}
h4{
	font-size: 1.25rem;
	line-height: 2.5rem;
}
p{	
	font-size: 1.25rem;
	line-height: 2.5rem;
	color:var(--neutral-2);
}
ul,ol{
	font-size: 1.25rem;
	line-height: 2.5rem;
	color:var(--neutral-2);
	list-style-position: inside;
	padding: 0;
	margin: 0;
}
ul{
	list-style-type: "• ";
}
ol{
	list-style-type: decimal;
}
::marker	{
	font-size: 1.25rem;
	color: var(--neutral);
}
a{
	color: var(--important);
	text-decoration: none;
}
a:hover{
	color: var(--neutral);
}
span{
	text-transform: uppercase;
	font-size: .75rem;
	line-height: .75rem;
	font-weight: 500;
	letter-spacing: 0.05rem;
	background: var(--surface-2);
	border: 1px solid var(--edge);
    padding: 4px 8px;
    border-radius: var(--radius);
}
input{
	border: none;
}
video,img{
	width: 100%;
}
hr{
	border: 1px solid var(--edge);
}

figure{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	padding: 1rem 0;
}
figcaption{
	font-size: 1rem;
	line-height: 2.5rem;
}