.column{
	display:flex;
    justify-content: space-between;
    width:100%;
    list-style: none;
}

.column li p:first-of-type{
    font-size: 1rem;
}
.column li p:last-of-type{
    line-height: 1.5rem;
    color:var(--important);
}
