.product{
	position: relative;
	margin: 12px auto;
}
.photo{
	display: none;
}
.card{
	display: inline-block;
	padding: 12px;
	box-shadow: 0 6px 24px 0 rgba(60, 60, 60, .1); 
	position: relative;
	z-index: 1;
	background: rgba(246, 250, 254, 1); ;
	overflow: hidden;
	border-radius: 6px;
	transition: 0.3s;
	border: 1px solid rgba(60,60,60,.1);
}
.card:hover{
	background: rgba(242, 248, 254, 1); ;
	box-shadow: 0 0 0 0 rgba(60, 60, 60, .1); 
}
.title{
	margin: 0;
}
.description{
	margin: 0 0 4px;
}
.thumbnail{
	border-radius: 3px;
}

@media (min-width: 600px){
	.photo{
		display: block;
		position: absolute;
		top: 0;
		left: -72px;
		overflow: hidden;
		height: 60px;
		width: 60px;
		border-radius: 60px;
		margin-bottom: 12px;
	}
}